@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-one {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxshadow-one {
  box-shadow: rgba(161, 3, 3, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.gradient-one {
  background-image: linear-gradient(
    to right,
    #904e95,
    #e96443
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}